/* Bootstrap theme */

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

// Typography
$font-family-sans-serif: "IBM Plex Sans", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
$font-family-serif: "IBM Plex Serif", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// Colors
$theme-colors: (
  "light": #e3e3e9,
  "dark": #050304,
  "primary": #186764,
  "secondary": #1a8d7e,
  "info": #bd665d,
  "accent1": #6a3c2e,
  "accent2": #646061,
  "accent3": #b2a39f,
  "success": #0fa547,
  "warning": #edc710,
  "danger": #f30635,
);

// Enable dark mode based on browser preference
$color-mode-type: media-query;

// Navigation
$nav-link-color: var(--bs-body-color);
$nav-link-hover-color: var(--bs-primary);
$nav-link-active-color: var(--bs-primary);
