<!-- header -->
<header
  class="d-flex flex-wrap justify-content-center py-2 py-md-3 mb-4 border-bottom"
>
  <div class="container">
    <div
      class="d-flex flex-wrap justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-md-0 me-md-auto text-decoration-none logotype"
        aria-current="page"
      >
        <img
          width="32"
          height="32"
          class="me-2"
          src="solanus_logo_circle_wine.png"
          alt=""
        />
        <span class="fs-4 fw-light">solanus</span>
      </a>
      <ul class="nav col-12 col-md-auto justify-content-center">
        <li><a href="/about" class="nav-link px-2">About</a></li>
      </ul>
    </div>
  </div>
</header>
